@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

:root {
    --white: #f9f9f9;
    --fe-white: #fefefe;
    --black: #090909;
    --abs-black: #010101;
    --light-black: #202124;
    --yellow: #ffb22c;
    --gray: #2e3042;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--light-black);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hero h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 5rem;
    margin-top: -0.55em;
    margin-bottom: 0.5em;
    color: var(--white);

    background: linear-gradient(90deg, #FA812F 15%, #FFB22C 45%, #F3C623 65%, #FFF085 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.calculation-section {
    color: var(--white);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    margin-top: 0em;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.5rem;
}

.user-input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.calculation-section .results-section {
    color: #FFB22C;
}

.calculation-section input {
    color: #FFB22C;
    width: 150px;
    background: none;
    text-align: center;
    border: none;
    border-bottom: 3px solid var(--fe-white);

    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.1rem;
}

.calculation-section input:focus {
    outline: none;
}

.calculation-section input::placeholder {
    color: #FFB22C;
    opacity: 0.5;
}

.calculation-section select {
    background-color: var(--fe-white);
    border: none;
    height: 1.3rem;

    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 0.8rem;
}

.calculation-section button {
    height: 1.5rem;
    width: 6rem;

    border: none;
    border-radius: 4px;
    background-color: var(--fe-white);
    transition: 0.2s ease;

    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 0.8rem;
}

.calculation-section button:hover {
    background-color: #FFB22C;
}

@media screen and (max-width: 1024px) {
    .hero h1 {
        font-size: 4.1rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .calculation-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 1.5rem;
    }

    .calculation-section label {
        text-align: center;
        max-width: 80vw;
    }

    .calculation-section input {
        font-size: 1.4rem;
    }

    .user-input {
        margin: 0;
    }

    .calculation-section select {
        width: 7.5rem;
        height: 2rem;

        font-size: 0.9rem;
        text-align: center;
    }

    .calculation-section button {
        margin-top: 6rem;

        width: 10rem;
        height: 3rem;

        font-size: 1.2rem;
        font-weight: 900;
    }
}